@import url(style.css);

/* Estilos para formularios etc */
.form-productos{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#producto-form{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Crear Producto */
#formularioProducto{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#formularioUsuario{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#formularioEditProducto{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#formularioEditProducto{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-alta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#idProd{
    max-height: 20px;
}

/* Estilo del producto encontrado */
#contenedor-productos ul {
    margin-top: 20px;
    margin-left: 10px;
}

.lista-producto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lista-producto img {
    width: 50px;
    height: 50px;
}

.lista-producto p {
    font-size: 1rem;
}


input{
    max-width: 300px;
}


select{
    max-width: 300px;
    padding: 2px 2px;
    color: #ffffff;
    background-color: #1f1f27;
}

.Login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 10px;
}

.Login img {
    height: 80px;
    width: 80px;
}

#titulo-login{
    margin-bottom: 10px;
}

.inputLogin {
    width: 400px;
}


/* Estilos de botones */

#contenedor-btn{
    margin-top: 20px;
}

.btn{
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(126, 10, 235);
    border: 1px solid blueviolet;
}

.btn-login{
    padding: 10px 30px;
    border-radius: 6px;
    border: 1px solid black;
    font-size: 1rem;
}

.btn-logout {
    padding: 10px 30px;
    border-radius: 6px;
    border: 1px solid black;
    color: black;
    font-size: 1rem;
    margin-left: 10px;
}

/* Estilo de mensajes FeedBack */

.mensaje{
    font-size: 21px;
    padding: 15px 15px;
    text-align: center;
}
.mensaje-error{
    color: #f44;
}
.mensaje-exito{
    color: #4f4;
}

